/*INDEX*/
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 200px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.2);
}

.image-container img:not(:hover) {
    transform: scale(0.8);
}

.title-container {
    text-align: center;
    margin: 20px 0;
}

.title-container h1 {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.76);
    font-weight: bold;
}

/*LOADER*/
.spinner-button {
    display: none;
}
.submit-button:disabled + .spinner-button {
    display: inline-block;
}
.submit-button:disabled {
    display: none;
}

/*TABLEROS*/
.board-card {
    margin: 10px;
    padding: 20px;
    width: 200px;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.board-card:hover {
    transform: scale(1.05);
}

.add-board-card {
    font-size: 1.5rem;
    color: rgba(5, 5, 5, 0.77);
    cursor: pointer;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
}
