<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/estilo.css" th:href="@{/estilo.css}">
    <title>Mis Tableros - Trello</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col">
            <h1 class="my-4">Mis Tableros</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 mb-4">
            <a data-bs-toggle="modal" data-bs-target="#exampleModal"> 
                <div class="card board-card add-board-card">
                    <div class="card-body text-center">
                        <span>+ Añadir Tablero</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="row" id="sortable-container">
                <div th:each="tablero : ${tableroList}" class="col-md-3 col-sm-6 mb-4">
                    <div class="card board-card" draggable="true">
                        <div class="cerrar">
                            <a th:href="@{/tablero/delete/{identificador}(identificador=${tablero.idTablero})}">
                                <button type="button" class="btn-close" aria-label="Close">X</button>
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <a th:href="@{/columna/vercolumnas/{identificador}(identificador=${tablero.idTablero})}" th:text="${tablero.nombre}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir Tablero</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <form th:action="@{/tablero/add}" th:object="${tablero}" method="post">
                    <div class="form-group">
                        <label>Nombre del Tablero</label>
                        <input type="text" class="form-control" name="boardName" th:field="${tablero.nombre}" required>
                        <input type="hidden" th:field="${tablero.idTablero}">
                        <input type="hidden" th:field="${tablero.usuario}">
                    </div>
                    <button type="submit" class="btn btn-primary">Añadir</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

                </form>
            </div>
        </div>
    </div>
</div>


    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const tableros = document.querySelectorAll('#sortable-container');
            tableros.forEach(tablero => {
                new Sortable(tablero, {
                    group: 'grid',
                    animation: 150,
                });
            });
        }); 
    </script>
</div>
</body>
</html>
